<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RM_PRECIFICACAO"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=vm09\SQL2008;Initial Catalog=RM_PRECIFICACAO;User Id=rmprecificacao;Password=precificacao@2012;"/>
  </connectionStrings>
</configuration>