<div>

    <h2>Mapa de Ofertas de Serviços</h2>

    <section>
        <header>
            <h1>Filtros</h1>
        </header>

        <div>
            <span>Empresa</span>

            <div class="campo">
                <input type="radio" name="empresa" value="1" />
                <label>RM TELECON</label>
            </div>

            <div class="campo">
                <input type="radio" name="empresa" value="2" />
                <label>RM ENERGIA</label>
            </div>
        </div>

        <div>
            <span>Tipo</span>

            <div class="campo">
                <input type="radio" name="tipo" value="1" />
                <label>Engenharia</label>
            </div>

            <div class="campo">
                <input type="radio" name="tipo" value="2" />
                <label>O&M</label>
            </div>
        </div>

        <div>
            <label>Segmento</label>
            <select>
            </select>
        </div>

        <div>
            <label>Serviço</label>
            <select>
            </select>
        </div>

        <div>
            <button>Consultar</button>
        </div>
    </section>

    <section>
        <table id="tabelaConsultaServicos">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Tipo</th>
                    <th>Segmento</th>
                    <th>Serviço</th>
                    <th>Referência</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>RM TELECON</td>
                    <td>O&M</td>
                    <td>VOZ</td>
                    <td>Instalação TUP</td>
                    <td>Acionamento</td>
                </tr>
                <tr>
                    <td>RM TELECON</td>
                    <td>O&M</td>
                    <td>VOZ</td>
                    <td>Mudança de Enderaço</td>
                    <td>Acionamento</td>
                </tr>
                <tr>
                    <td>RM TELECON</td>
                    <td>O&M</td>
                    <td>ADSL</td>
                    <td>Instalação de Acesso VDSL</td>
                    <td>Acionamento</td>
                </tr>
                <tr>
                    <td>RM TELECON</td>
                    <td>O&M</td>
                    <td>VOZ</td>
                    <td>ALTCTEC de Acesso ADSL</td>
                    <td>Acionamento</td>
                </tr>
            </tbody>
        </table>
    </section>

</div>