@{
    ViewBag.Title = "Index";
}

@section scriptsOnHead {
    <script src="@Url.Content("~/Scripts/App/Views/ServicoIndex/ViewModel/ServicoIndexViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/Views/ServicoIndex/Script/ServicoIndexScript.js")" type="text/javascript"></script>
}

<h2>Mapa de Ofertas de Serviços</h2>

<section>
    <header>
        <h1>Filtros</h1>
    </header>

    @using (Html.BeginForm())
    { 
        <div>
            <span>Empresa</span>

            <div class="campo">
                <input type="radio" name="empresa" value="1" />
                <label>RM TELECON</label>
            </div>

            <div class="campo">
                <input type="radio" name="empresa" value="2" />
                <label>RM ENERGIA</label>
            </div>
        </div>

        <div>
            <span>Tipo</span>

            <div class="campo">
                <input type="radio" name="empresa" value="1" />
                <label>Engenharia</label>
            </div>

            <div class="campo">
                <input type="radio" name="empresa" value="2" />
                <label>O&M</label>
            </div>
        </div>

        <div>
            <label>Segmento</label>
            <select>
            </select>
        </div>

        <div>
            <label>Serviço</label>
            <select>
            </select>
        </div>

        <div>
            <button>Consultar</button>
        </div>
    }

</section>

<section>
    <table id="tabelaServicos">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Tipo</th>
                <th>Segmento</th>
                <th>Serviço</th>
                <th>Referência</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>RM TELECON</td>
                <td>O&M</td>
                <td>VOZ</td>
                <td>Instalação TUP</td>
                <td>Acionamento</td>
                <td>
                    <a>Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>
            <tr>
                <td>RM TELECON</td>
                <td>O&M</td>
                <td>VOZ</td>
                <td>Mudança de Enderaço</td>
                <td>Acionamento</td>
                <td>
                    <a>Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>
            <tr>
                <td>RM TELECON</td>
                <td>O&M</td>
                <td>ADSL</td>
                <td>Instalação de Acesso VDSL</td>
                <td>Acionamento</td>
                <td>
                    <a>Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>
            <tr>
                <td>RM TELECON</td>
                <td>O&M</td>
                <td>VOZ</td>
                <td>ALTCTEC de Acesso ADSL</td>
                <td>Acionamento</td>
                <td>
                    <a>Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button>Incluir</button>
    </div>
</section>
